.frontend-assignment-child {
  position: absolute;
  top: 8195.36px;
  left: 0;
  background-color: #f5f4f2;
  width: 1366px;
  height: 212px;
}
.days-return {
  position: absolute;
  top: 113.7px;
  left: 0;
  font-weight: 500;
}
.group-icon {
  position: absolute;
  height: 65.95%;
  width: 77.19%;
  top: 0;
  right: 11.4%;
  bottom: 34.05%;
  left: 11.4%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.days-return-parent {
  position: absolute;
  top: 8234.52px;
  left: 215px;
  width: 114px;
  height: 133.7px;
  font-size: var(--font-size-base);
}
.group-child {
  position: absolute;
  height: 65.95%;
  width: 47.26%;
  top: 0;
  right: 26.37%;
  bottom: 34.05%;
  left: 26.37%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.quality-products-parent {
  position: absolute;
  top: 8234.52px;
  left: 483px;
  width: 136px;
  height: 133.7px;
  font-size: var(--font-size-base);
}
.group-item {
  position: absolute;
  height: 65.95%;
  width: 99.22%;
  top: 0;
  right: 0.39%;
  bottom: 34.05%;
  left: 0.39%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.safe-payment-parent {
  position: absolute;
  top: 8234.52px;
  left: 773px;
  width: 113px;
  height: 133.7px;
  font-size: var(--font-size-base);
}
.group-inner {
  position: absolute;
  height: 65.95%;
  width: 79.91%;
  top: 0;
  right: 10.04%;
  bottom: 34.05%;
  left: 10.04%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.x7-helpline-parent {
  position: absolute;
  top: 8234.52px;
  left: 1040px;
  width: 110px;
  height: 133.7px;
  font-size: var(--font-size-base);
}
.frontend-assignment-inner,
.frontend-assignment-item,
.line-div {
  position: absolute;
  top: 8244.87px;
  left: 405.5px;
  border-right: 1px solid var(--color-pink);
  box-sizing: border-box;
  width: 1px;
  height: 113px;
}
.frontend-assignment-inner,
.line-div {
  left: 695.5px;
}
.line-div {
  left: 962.5px;
}
.image-1-icon {
  position: absolute;
  top: 136px;
  left: 0;
  width: 1366px;
  height: 632px;
  object-fit: cover;
}
.frontend-assignment-child1 {
  position: absolute;
  top: 836px;
  left: 123px;
  width: 170px;
  height: 170px;
}
.mens-t-shirts {
  position: absolute;
  top: 1028px;
  left: 154px;
  font-size: var(--font-size-base);
  font-weight: 600;
  font-family: var(--font-playfair-display);
  text-align: left;
}
.frontend-assignment-child2 {
  position: absolute;
  top: 836px;
  left: 313px;
  width: 170px;
  height: 170px;
}
.womens-wear {
  position: absolute;
  top: 1028px;
  left: 344.5px;
  font-size: var(--font-size-base);
  font-weight: 600;
  font-family: var(--font-playfair-display);
  text-align: left;
}
.frontend-assignment-child3 {
  position: absolute;
  top: 836px;
  left: 503px;
  width: 170px;
  height: 170px;
}
.winter-collections {
  position: absolute;
  top: 1028px;
  left: 520px;
  font-size: var(--font-size-base);
  font-weight: 600;
  font-family: var(--font-playfair-display);
  text-align: left;
}
.frontend-assignment-child4 {
  position: absolute;
  top: 836px;
  left: 883px;
  width: 170px;
  height: 170px;
}
.polo-neck-t-shirts {
  position: absolute;
  top: 1028px;
  left: 899.5px;
  font-size: var(--font-size-base);
  font-weight: 600;
  font-family: var(--font-playfair-display);
  text-align: left;
}
.frontend-assignment-child5 {
  position: absolute;
  top: 836px;
  left: 1073px;
  width: 170px;
  height: 170px;
}
.full-sleeves-t-shirts {
  position: absolute;
  top: 1028px;
  left: 1082.5px;
  font-size: var(--font-size-base);
  font-weight: 600;
  font-family: var(--font-playfair-display);
  text-align: left;
}
.frontend-assignment-child6 {
  position: absolute;
  top: 836px;
  left: 693px;
  width: 170px;
  height: 170px;
}
.hooded-t-shirts {
  position: absolute;
  top: 1028px;
  left: 717px;
  font-size: var(--font-size-base);
  font-weight: 600;
  font-family: var(--font-playfair-display);
  text-align: left;
}
.image-2-icon,
.image-3-icon {
  position: absolute;
  top: 1117px;
  left: 123px;
  width: 550px;
  height: 276px;
  object-fit: cover;
}
.image-3-icon {
  left: 693px;
}
.banner1-2-icon,
.banner1-3-icon,
.image-4-icon,
.image-5-icon,
.image-6-icon {
  position: absolute;
  top: 1409px;
  left: 123px;
  width: 360px;
  height: 176px;
  object-fit: cover;
}
.banner1-2-icon,
.banner1-3-icon,
.image-5-icon,
.image-6-icon {
  left: 503px;
}
.banner1-2-icon,
.banner1-3-icon,
.image-5-icon {
  left: 883px;
}
.banner1-2-icon,
.banner1-3-icon {
  top: 3811.34px;
  left: 0;
  width: 1366px;
  height: 498.02px;
}
.banner1-3-icon {
  top: 6909.36px;
  height: 498px;
}
.rectangle-div,
.rectangle-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 360px;
  height: 432px;
}
.rectangle-div {
  background-color: #06b8a6;
}
.rectangle-icon {
  object-fit: cover;
}
.group-child1,
.rectangle-parent {
  position: absolute;
  top: 5957.36px;
  left: 123px;
  width: 360px;
  height: 432px;
}
.group-child1 {
  top: 0;
  left: 0;
  background-color: #80e8ff;
}
.group-child3,
.rectangle-group {
  position: absolute;
  top: 5957.36px;
  left: 503px;
  width: 360px;
  height: 432px;
}
.group-child3 {
  top: 0;
  left: 0;
  background-color: #dc493a;
}
.rectangle-container {
  top: 5957.36px;
  left: 883px;
}
.group-child5,
.group-child7,
.group-div,
.rectangle-container {
  position: absolute;
  width: 360px;
  height: 432px;
}
.group-child5 {
  top: 0;
  left: 0;
  background-color: #d7b2ff;
}
.group-child7,
.group-div {
  top: 6409.36px;
  left: 123px;
}
.group-child7 {
  top: 0;
  left: 0;
  background-color: #f0bc8c;
}
.group-child9,
.rectangle-parent1 {
  position: absolute;
  top: 6409.36px;
  left: 503px;
  width: 360px;
  height: 432px;
}
.group-child9 {
  top: 0;
  left: 0;
  background-color: #4392f1;
}
.group-child11,
.rectangle-parent2 {
  position: absolute;
  top: 6409.36px;
  left: 883px;
  width: 360px;
  height: 432px;
}
.group-child11 {
  top: 0;
  left: 0;
  background: linear-gradient(
    111.49deg,
    rgba(255, 255, 255, 0.4) 0.55%,
    rgba(255, 255, 255, 0.01)
  );
  backdrop-filter: blur(64px);
  height: 68.23px;
}
.streetwear-collections {
  position: absolute;
  top: 20.62px;
  left: calc(50% - 103.5px);
  font-weight: 600;
}
.rectangle-parent3 {
  position: absolute;
  top: 6321.13px;
  left: 123px;
  width: 360px;
  height: 68.23px;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-playfair-display);
}
.printed-t-shirts {
  position: absolute;
  top: 20.62px;
  left: calc(50% - 75px);
  font-weight: 600;
}
.rectangle-parent4 {
  position: absolute;
  top: 6773.13px;
  left: 123px;
  width: 360px;
  height: 68.23px;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-playfair-display);
}
.striped-t-shirts {
  position: absolute;
  top: 20.62px;
  left: calc(50% - 74.5px);
  font-weight: 600;
}
.rectangle-parent5 {
  position: absolute;
  top: 6321.13px;
  left: 503px;
  width: 360px;
  height: 68.23px;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-playfair-display);
}
.oversized-t-shirts {
  position: absolute;
  top: 20.62px;
  left: calc(50% - 86.5px);
  font-weight: 600;
}
.rectangle-parent6 {
  position: absolute;
  top: 6773.13px;
  left: 503px;
  width: 360px;
  height: 68.23px;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-playfair-display);
}
.round-neck-t-shirts {
  position: absolute;
  top: 20.62px;
  left: calc(50% - 96.5px);
  font-weight: 600;
}
.rectangle-parent7 {
  position: absolute;
  top: 6321.13px;
  left: 883px;
  width: 360px;
  height: 68.23px;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-playfair-display);
}
.half-sleeves-t-shirts {
  position: absolute;
  top: 20.62px;
  left: calc(50% - 95.5px);
  font-weight: 600;
}
.featured-products,
.rectangle-parent8 {
  position: absolute;
  font-family: var(--font-playfair-display);
}
.rectangle-parent8 {
  top: 6773.13px;
  left: 883px;
  width: 360px;
  height: 68.23px;
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.featured-products {
  top: 3021.34px;
  left: 531px;
  font-size: var(--font-size-17xl);
  font-weight: 600;
}
.men-henley-neck {
  margin: 0;
}
.men-henley-neck-container,
.men-henley-neck-container1 {
  position: absolute;
  top: 3539.34px;
  left: 181.5px;
}
.men-henley-neck-container1 {
  left: 466.83px;
}
.men-henley-neck-container2,
.men-henley-neck-container3 {
  position: absolute;
  top: 3539.34px;
  left: 752.17px;
}
.men-henley-neck-container3 {
  left: 1037.5px;
}
.frontend-assignment-child7 {
  position: absolute;
  top: 3117.34px;
  left: 123px;
  width: 264px;
  height: 412px;
  object-fit: cover;
}
.frontend-assignment-child10,
.frontend-assignment-child8,
.frontend-assignment-child9 {
  position: absolute;
  top: 3117.34px;
  left: 408.33px;
  width: 264px;
  height: 412px;
  object-fit: cover;
}
.frontend-assignment-child10,
.frontend-assignment-child9 {
  left: 693.67px;
}
.frontend-assignment-child10 {
  left: 979px;
}
.b {
  top: 0;
  left: calc(50% - 39.5px);
  line-height: 18px;
}
.b,
.div,
.parent {
  position: absolute;
}
.div {
  top: 0;
  left: calc(50% + 10.5px);
  font-size: var(--font-size-3xs);
  text-decoration: line-through;
  line-height: 18px;
  color: var(--color-red);
}
.parent {
  left: calc(50% - 467.5px);
}
.container,
.group,
.parent {
  top: 3583.34px;
  width: 79px;
  height: 18px;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-gray-100);
}
.group {
  position: absolute;
  left: calc(50% - 182.17px);
}
.container {
  left: calc(50% + 103.17px);
}
.container,
.parent1,
.s {
  position: absolute;
}
.parent1 {
  top: 3583.34px;
  left: calc(50% + 388.5px);
  width: 79px;
  height: 18px;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-gray-100);
}
.s {
  top: 9.5px;
  left: 13.5px;
  font-weight: 500;
}
.group-child17 {
  top: 0;
  left: 0;
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  width: 36px;
  height: 36px;
}
.group-child17,
.m,
.s-parent {
  position: absolute;
}
.s-parent {
  top: 0;
  left: 0;
  width: 36px;
  height: 36px;
}
.m {
  top: 9.5px;
  left: 11px;
  font-weight: 500;
}
.l-parent,
.m-parent {
  position: absolute;
  top: 0;
  left: 50px;
  width: 36px;
  height: 36px;
}
.l-parent {
  left: 100px;
}
.xl {
  top: 9.5px;
  left: 9px;
  font-weight: 500;
}
.xl,
.xl-parent,
.xxl {
  position: absolute;
}
.xl-parent {
  top: 0;
  left: 150px;
  width: 36px;
  height: 36px;
}
.xxl {
  top: 9.5px;
  left: 4.5px;
  font-weight: 500;
}
.group-parent,
.xxl-parent {
  position: absolute;
  top: 0;
  left: 200px;
  width: 36px;
  height: 36px;
}
.group-parent {
  top: 3611.34px;
  left: 137px;
  width: 236px;
}
.group-child37,
.group-container,
.group-parent1,
.group-parent2 {
  position: absolute;
  top: 3611.34px;
  left: 422.33px;
  width: 236px;
  height: 36px;
}
.group-child37,
.group-parent1,
.group-parent2 {
  left: 707.67px;
}
.group-child37,
.group-parent2 {
  left: 993px;
}
.group-child37 {
  top: 0;
  left: 0;
  background-color: var(--color-maroon);
  width: 170px;
  height: 48px;
}
.view-all {
  position: absolute;
  top: 14px;
  left: calc(50% - 40px);
  text-transform: uppercase;
  font-weight: 500;
}
.rectangle-parent9 {
  position: absolute;
  top: 3695.34px;
  left: 598px;
  width: 170px;
  height: 48px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.frontend-assignment-child11,
.frontend-assignment-child12 {
  position: absolute;
  top: 3044.84px;
  left: 122.5px;
  border-top: 1px solid var(--color-pink);
  box-sizing: border-box;
  width: 381px;
  height: 1px;
}
.frontend-assignment-child12 {
  left: 862.5px;
}
.best-selling-products {
  position: absolute;
  top: calc(50% + 539.36px);
  left: 508.5px;
  font-size: var(--font-size-17xl);
  font-weight: 600;
  font-family: var(--font-playfair-display);
}
.men-henley-neck-container4,
.men-henley-neck-container5 {
  position: absolute;
  top: 5685.36px;
  left: 181.5px;
}
.men-henley-neck-container5 {
  left: 466.83px;
}
.men-henley-neck-container6,
.men-henley-neck-container7 {
  position: absolute;
  top: 5685.36px;
  left: 752.17px;
}
.men-henley-neck-container7 {
  left: 1037.5px;
}
.frontend-assignment-child13 {
  position: absolute;
  top: 5263.36px;
  left: 123px;
  width: 264px;
  height: 412px;
  object-fit: cover;
}
.frontend-assignment-child14,
.frontend-assignment-child15,
.frontend-assignment-child16 {
  position: absolute;
  top: 5263.36px;
  left: 408.33px;
  width: 264px;
  height: 412px;
  object-fit: cover;
}
.frontend-assignment-child15,
.frontend-assignment-child16 {
  left: 693.67px;
}
.frontend-assignment-child16 {
  left: 979px;
}
.parent2,
.parent3,
.parent4,
.parent5 {
  position: absolute;
  top: 5729.36px;
  left: calc(50% - 467.5px);
  width: 79px;
  height: 18px;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-gray-100);
}
.parent3,
.parent4,
.parent5 {
  left: calc(50% - 182.17px);
}
.parent4,
.parent5 {
  left: calc(50% + 103.17px);
}
.parent5 {
  left: calc(50% + 388.5px);
}
.group-parent3,
.group-parent4,
.group-parent5,
.group-parent6 {
  position: absolute;
  top: 5757.36px;
  left: 137px;
  width: 236px;
  height: 36px;
}
.group-parent4,
.group-parent5,
.group-parent6 {
  left: 422.33px;
}
.group-parent5,
.group-parent6 {
  left: 707.67px;
}
.group-parent6 {
  left: 993px;
}
.rectangle-parent10 {
  position: absolute;
  top: 5841.36px;
  left: 598px;
  width: 170px;
  height: 48px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.frontend-assignment-child17,
.frontend-assignment-child18 {
  position: absolute;
  top: 5190.86px;
  left: 122.5px;
  border-top: 1px solid var(--color-pink);
  box-sizing: border-box;
  width: 381px;
  height: 1px;
}
.frontend-assignment-child18 {
  left: 862.5px;
}
.new-products {
  position: absolute;
  top: 4377.36px;
  left: 569.5px;
  font-size: var(--font-size-17xl);
  font-weight: 600;
  font-family: var(--font-playfair-display);
}
.men-henley-neck-container8,
.men-henley-neck-container9 {
  position: absolute;
  top: 4895.36px;
  left: 181.5px;
}
.men-henley-neck-container9 {
  left: 466.83px;
}
.men-henley-neck-container10,
.men-henley-neck-container11 {
  position: absolute;
  top: 4895.36px;
  left: 752.17px;
}
.men-henley-neck-container11 {
  left: 1037.5px;
}
.frontend-assignment-child19 {
  position: absolute;
  top: 4473.36px;
  left: 123px;
  width: 264px;
  height: 412px;
  object-fit: cover;
}
.frontend-assignment-child20,
.frontend-assignment-child21,
.frontend-assignment-child22 {
  position: absolute;
  top: 4473.36px;
  left: 408.33px;
  width: 264px;
  height: 412px;
  object-fit: cover;
}
.frontend-assignment-child21,
.frontend-assignment-child22 {
  left: 693.67px;
}
.frontend-assignment-child22 {
  left: 979px;
}
.parent6,
.parent7,
.parent8,
.parent9 {
  position: absolute;
  top: 4939.36px;
  left: calc(50% - 467.5px);
  width: 79px;
  height: 18px;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-gray-100);
}
.parent7,
.parent8,
.parent9 {
  left: calc(50% - 182.17px);
}
.parent8,
.parent9 {
  left: calc(50% + 103.17px);
}
.parent9 {
  left: calc(50% + 388.5px);
}
.group-parent10,
.group-parent7,
.group-parent8,
.group-parent9 {
  position: absolute;
  top: 4967.36px;
  left: 137px;
  width: 236px;
  height: 36px;
}
.group-parent10,
.group-parent8,
.group-parent9 {
  left: 422.33px;
}
.group-parent10,
.group-parent9 {
  left: 707.67px;
}
.group-parent10 {
  left: 993px;
}
.rectangle-parent11 {
  position: absolute;
  top: 5051.36px;
  left: 598px;
  width: 170px;
  height: 48px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.frontend-assignment-child23,
.frontend-assignment-child24,
.group-child80,
.group-child81 {
  position: absolute;
  top: 4400.86px;
  left: 122.5px;
  border-top: 1px solid var(--color-pink);
  box-sizing: border-box;
  width: 381px;
  height: 1px;
}
.frontend-assignment-child24,
.group-child80,
.group-child81 {
  left: 862.5px;
}
.group-child80,
.group-child81 {
  top: 23.5px;
  left: -0.5px;
}
.group-child81 {
  left: 739.5px;
}
.trending-t-shirts {
  position: absolute;
  top: 0;
  left: 410.5px;
  font-weight: 600;
}
.line-parent {
  position: absolute;
  top: 1653px;
  left: 123px;
  width: 1120px;
  height: 48px;
  font-size: var(--font-size-17xl);
  font-family: var(--font-playfair-display);
}
.men-henley-neck-container12,
.men-henley-neck-container13 {
  position: absolute;
  top: 2749.23px;
  left: 181.5px;
}
.men-henley-neck-container13 {
  left: 466.83px;
}
.men-henley-neck-container14,
.men-henley-neck-container15 {
  position: absolute;
  top: 2749.23px;
  left: 752.17px;
}
.men-henley-neck-container15 {
  left: 1037.5px;
}
.frontend-assignment-child25 {
  position: absolute;
  top: 2327.23px;
  left: 123px;
  width: 264px;
  height: 412px;
  object-fit: cover;
}
.frontend-assignment-child26,
.frontend-assignment-child27,
.frontend-assignment-child28 {
  position: absolute;
  top: 2327.23px;
  left: 408.33px;
  width: 264px;
  height: 412px;
  object-fit: cover;
}
.frontend-assignment-child27,
.frontend-assignment-child28 {
  left: 693.67px;
}
.frontend-assignment-child28 {
  left: 979px;
}
.parent10,
.parent11,
.parent12,
.parent13 {
  position: absolute;
  top: 2793.23px;
  left: calc(50% - 467.5px);
  width: 79px;
  height: 18px;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-gray-100);
}
.parent11,
.parent12,
.parent13 {
  left: calc(50% - 182.17px);
}
.parent12,
.parent13 {
  left: calc(50% + 103.17px);
}
.parent13 {
  left: calc(50% + 388.5px);
}
.group-parent11,
.group-parent12,
.group-parent13,
.group-parent14 {
  position: absolute;
  top: 2821.23px;
  left: 137px;
  width: 236px;
  height: 36px;
}
.group-parent12,
.group-parent13,
.group-parent14 {
  left: 422.33px;
}
.group-parent13,
.group-parent14 {
  left: 707.67px;
}
.group-parent14 {
  left: 993px;
}
.rectangle-parent12 {
  position: absolute;
  top: 2905.34px;
  left: 598px;
  width: 170px;
  height: 48px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.men-henley-neck-container16 {
  position: absolute;
  top: 2171.11px;
  left: 466.83px;
}
.men-henley-neck-container17,
.men-henley-neck-container18 {
  position: absolute;
  top: 2171.11px;
  left: 752.17px;
}
.men-henley-neck-container18 {
  left: 1037.5px;
}
.frontend-assignment-child29,
.frontend-assignment-child30,
.frontend-assignment-child31 {
  position: absolute;
  top: 1749.11px;
  left: 408.33px;
  width: 264px;
  height: 412px;
  object-fit: cover;
}
.frontend-assignment-child30,
.frontend-assignment-child31 {
  left: 693.67px;
}
.frontend-assignment-child31 {
  left: 979px;
}
.parent14,
.parent15,
.parent16 {
  position: absolute;
  top: 2215.11px;
  left: calc(50% - 182.17px);
  width: 79px;
  height: 18px;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-gray-100);
}
.parent15,
.parent16 {
  left: calc(50% + 103.17px);
}
.parent16 {
  left: calc(50% + 388.5px);
}
.group-parent15,
.group-parent16,
.group-parent17 {
  position: absolute;
  top: 2243.11px;
  left: 422.33px;
  width: 236px;
  height: 36px;
}
.group-parent16,
.group-parent17 {
  left: 707.67px;
}
.group-parent17 {
  left: 993px;
}
.men-henley-neck-container19 {
  position: absolute;
  top: 2171.11px;
  left: 181.5px;
}
.frontend-assignment-child32 {
  position: absolute;
  top: 1749.11px;
  left: 123px;
  width: 264px;
  height: 412px;
  object-fit: cover;
}
.parent17 {
  position: absolute;
  top: 2215.11px;
  left: calc(50% - 467.5px);
  width: 79px;
  height: 18px;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-gray-100);
}
.group-parent18 {
  position: absolute;
  top: 2243.11px;
  left: 137px;
  width: 236px;
  height: 36px;
}
.frontend-assignment-child33 {
  position: absolute;
  top: 1749.11px;
  left: 123px;
  background-color: rgba(31, 31, 31, 0.3);
  backdrop-filter: blur(10px);
  width: 264px;
  height: 412px;
}
.frontend-assignment-child34 {
  position: absolute;
  top: 1928.11px;
  left: 228px;
  width: 54px;
  height: 54px;
}
.frontend-assignment-child35,
.frontend-assignment-child36 {
  position: absolute;
  top: 1928.11px;
  left: 298px;
  width: 54px;
  height: 54px;
}
.frontend-assignment-child36 {
  left: 158px;
}
.frontend-assignment-child37 {
  position: absolute;
  top: 2327.23px;
  left: 979px;
  width: 264px;
  height: 412px;
}
.frontend-assignment-child38 {
  position: absolute;
  top: 7475.36px;
  left: 123px;
  background-color: #cccea7;
  width: 548px;
  height: 652px;
}
.group-child123 {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 170px;
  height: 48px;
}
.shop-now {
  position: absolute;
  top: 14px;
  left: calc(50% - 48.5px);
  text-transform: uppercase;
  font-weight: 500;
}
.rectangle-parent13 {
  position: absolute;
  top: 8024.5px;
  left: 312px;
  width: 170px;
  height: 48px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.hurry-up,
.off,
.sale {
  position: absolute;
  top: calc(50% + 3122.5px);
  left: 315px;
  font-size: var(--font-size-17xl);
  font-weight: 600;
  font-family: var(--font-playfair-display);
}
.off,
.sale {
  top: calc(50% + 3326.5px);
  left: 363px;
}
.off {
  top: calc(50% + 3192.5px);
  left: 233px;
  font-size: var(--font-size-65xl);
}
.diamond-1-icon {
  position: absolute;
  top: 7530.23px;
  left: 311px;
  width: 172px;
  height: 172px;
  object-fit: cover;
}
.frontend-assignment-child39 {
  position: absolute;
  top: 7475.36px;
  left: 695px;
  background-color: #d6bebe;
  width: 548px;
  height: 652px;
}
.rectangle-parent14 {
  position: absolute;
  top: 8024.5px;
  left: 884px;
  width: 170px;
  height: 48px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.hurry-up1,
.off1,
.sale1 {
  position: absolute;
  top: calc(50% + 3122.5px);
  left: 887px;
  font-size: var(--font-size-17xl);
  font-weight: 600;
  font-family: var(--font-playfair-display);
}
.off1,
.sale1 {
  top: calc(50% + 3326.5px);
  left: 935px;
}
.off1 {
  top: calc(50% + 3192.5px);
  left: 809.5px;
  font-size: var(--font-size-65xl);
}
.discount-1-icon {
  position: absolute;
  top: 7530.23px;
  left: 883px;
  width: 172px;
  height: 172px;
  object-fit: cover;
}
.ellipse-div,
.frontend-assignment-child40 {
  position: absolute;
  top: 8086.24px;
  left: 1256.88px;
  border-radius: 50%;
  background-color: var(--color-maroon);
  width: 218.25px;
  height: 218.25px;
}
.frontend-assignment-child40 {
  top: 8306.24px;
  left: -101.12px;
  width: 202.25px;
  height: 202.25px;
}
.frontend-assignment-child41 {
  background: linear-gradient(97.3deg, #ab001e, #770015);
}
.frontend-assignment-child41,
.mask-group-icon {
  position: absolute;
  top: 8475.36px;
  left: 123px;
  width: 1120px;
  height: 312px;
}
.subscribe-to-get-container {
  position: absolute;
  top: 8535.78px;
  left: 336px;
  font-size: var(--font-size-17xl);
  font-weight: 600;
  font-family: var(--font-playfair-display);
  color: var(--color-white);
}
.group-child125,
.group-child126 {
  position: absolute;
  top: 0;
  height: 68px;
}
.group-child125 {
  left: 0;
  background-color: rgba(255, 255, 255, 0.32);
  width: 645px;
}
.group-child126 {
  left: 502.5px;
  background-color: var(--color-white);
  width: 142.5px;
}
.enter-your-email {
  position: absolute;
  top: 24px;
  left: 28.5px;
  font-weight: 500;
}
.subscribe {
  position: absolute;
  top: calc(50% - 14.5px);
  left: 523.75px;
  font-size: 22px;
  font-weight: 600;
  font-family: var(--font-playfair-display);
  color: var(--color-maroon);
  text-align: center;
}
.rectangle-parent15 {
  position: absolute;
  top: 8658.94px;
  left: 360.5px;
  width: 645px;
  height: 68px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.group-child127 {
  position: absolute;
  top: -0.5px;
  left: -0.5px;
  border-top: 1px solid #e0dfde;
  box-sizing: border-box;
  width: 1367px;
  height: 1px;
}
.online-shopping {
  position: absolute;
  top: calc(50% - 111.67px);
  left: 0;
  font-weight: 600;
}
.mens-t-shirts-womens-container {
  position: absolute;
  top: 53.33px;
  left: 0;
  font-size: var(--font-size-sm);
  line-height: 34px;
  font-weight: 500;
  font-family: var(--font-montserrat);
  color: var(--primary-color-1);
}
.customer-policies-parent,
.online-shopping-parent {
  position: absolute;
  top: calc(50% - 116.17px);
  left: 398.33px;
  width: 166px;
  height: 223.33px;
}
.customer-policies-parent {
  left: 602.67px;
  width: 205px;
}
.store-information {
  position: absolute;
  top: calc(50% - 106.67px);
  left: 0;
  font-weight: 600;
}
.frame-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.call-us-1234567890-parent {
  position: absolute;
  top: 76px;
  left: 0;
  width: 172px;
  height: 24px;
}
.lorem-ipsum-is-container {
  position: absolute;
  top: 0;
  left: 34px;
  line-height: 28px;
  font-weight: 500;
}
.frame-icon1 {
  position: absolute;
  top: 8px;
  left: 0;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.lorem-ipsum-is-simply-dummy-te-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 331px;
  height: 56px;
}
.email-us-infoyourmailcom {
  position: absolute;
  top: 2px;
  left: 34px;
  line-height: 20px;
  font-weight: 500;
}
.email-us-infoyourmailcom-parent,
.group-parent20 {
  position: absolute;
  top: 136px;
  left: 0;
  width: 242px;
  height: 24px;
}
.group-parent20 {
  top: 53.33px;
  width: 331px;
  height: 160px;
  font-size: var(--font-size-sm);
  color: var(--primary-color-1);
  font-family: var(--font-montserrat);
}
.store-information-parent {
  position: absolute;
  top: calc(50% - 116.17px);
  left: 846px;
  width: 331px;
  height: 213.33px;
}
.lorem-ipsum-is1 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 28px;
  font-weight: 500;
  display: inline-block;
  width: 360px;
  height: 178.33px;
}
.group-child128 {
  position: absolute;
  top: 186.33px;
  left: 0;
  width: 285px;
  height: 46px;
}
.lorem-ipsum-is-simply-dummy-te-group {
  position: absolute;
  top: 0;
  left: 0;
  width: 360px;
  height: 232.33px;
}
.group-parent19,
.group-wrapper {
  position: absolute;
  height: 232.33px;
}
.group-wrapper {
  top: 0;
  left: 0;
  width: 360px;
  font-size: var(--font-size-sm);
  color: var(--primary-color-1);
  font-family: var(--font-montserrat);
}
.group-parent19 {
  top: calc(50% - 132.17px);
  left: 123px;
  width: 1177px;
}
.group-child129 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #20050a;
  width: 1366px;
  height: 68px;
}
.powered-by-dummy {
  position: absolute;
  top: 17px;
  left: 555px;
  line-height: 34px;
  font-weight: 500;
}
.line-group,
.rectangle-parent16 {
  position: absolute;
  top: 332.33px;
  left: 0;
  width: 1366px;
  height: 68px;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  font-family: var(--font-montserrat);
}
.line-group {
  top: 8855.54px;
  height: 400.33px;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-maroon);
  font-family: var(--font-playfair-display);
}
.frontend-assignment-child42 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-100);
  width: 1366px;
  height: 48px;
}
.welcome-to-our {
  position: absolute;
  top: 15.5px;
  left: calc(50% - 560px);
  font-weight: 500;
  color: var(--color-white);
  text-align: left;
}
.call-us-12345678901 {
  position: absolute;
  top: 3.5px;
  left: calc(50% - 53px);
  font-weight: 500;
}
.group-child130 {
  position: absolute;
  height: 100%;
  width: 14.12%;
  top: 0;
  right: 85.88%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.call-us-1234567890-group {
  position: absolute;
  top: 12px;
  left: calc(50% + 374px);
  width: 170px;
  height: 24px;
  text-align: left;
  color: var(--color-white);
}
.frontend-assignment-child43 {
  position: absolute;
  top: 48px;
  left: 0;
  background-color: var(--color-white);
  box-shadow: 0 8px 21px rgba(0, 0, 0, 0.16);
  width: 1366px;
  height: 88px;
}
.frontend-assignment-child44 {
  position: absolute;
  height: 0.26%;
  width: 1.76%;
  top: 0.86%;
  right: 89.24%;
  bottom: 98.88%;
  left: 9%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frame-icon3,
.frame-icon4,
.frame-icon5,
.frame-icon6 {
  position: absolute;
  top: 80px;
  left: 1219px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.frame-icon4,
.frame-icon5,
.frame-icon6 {
  left: 1170.33px;
}
.frame-icon5,
.frame-icon6 {
  left: 1121.67px;
}
.frame-icon6 {
  left: 1073px;
}
.logo-here {
  position: absolute;
  top: 81.5px;
  left: 645px;
  font-size: var(--font-size-base);
  font-weight: 600;
  font-family: var(--font-playfair-display);
  text-align: left;
}
.frontend-assignment {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 9256px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--primary-color-1);
  font-family: var(--font-montserrat);
}


@media (max-width: 768px) {
  .frontend-assignment-child42{
    display: none;
  }
  .image-1-icon {
    /* display: ; */
    position: absolute;
    /* top: 136px; */
    /* left: 0; */
    width: 766px;
    height: 632px;
    /* object-fit: cover; */
  }
  .frontend-assignment-allchilds{
    display: flex;
    flex-wrap: wrap;
  }
}
